extends layout

block scripts
    script(type="text/javascript", src="/public/markitup/jquery.markitup.js")
    script(type="text/javascript", src="/public/markitup/sets/markdown/set.js")

block styles
    link(rel="stylesheet", type="text/css", href="/public/markitup/skins/markitup/style.css")
    link(rel="stylesheet", type="text/css", href="/public/markitup/sets/markdown/style.css")

block content
    script(type="text/javascript")

        $(document).ready(function() {
            $('#postbody').markItUp(mySettings);

            $('form').submit(function(event) {
                event.preventDefault();

                var data = $(this).serialize();
                $.post($(this).attr('action'), data)
                    .success(function(data) {
                        alert(data.path);
                    });
            });
        });

    hr
    form(method="POST", action="/admin/posts/add", class="form-stacked")
        fieldset
            legend Create a Post
            div.clearfix
                label(for="post-title") Title:
                div.input
                    input#post-title(type="text", name="post[title]")
            div.clearfix
                label(for="postbody") Body:
                div.input
                    textarea#postbody(name="post[body]")
            div.clearfix
                label(for="post-tags") Tags:
                div.input
                    input#post-tags(type="text", name="post[tags]")

        input(type="submit", value="Save", class="primary btn")
        button(value="Cancel", onclick="history.go(-1)")
