extends layout

block scripts
    script(type="text/javascript", src="/public/markitup/jquery.markitup.js")
    script(type="text/javascript", src="/public/markitup/sets/markdown/set.js")
    script(type="text/javascript", src="/public/chosen/chosen.jquery.min.js")

block styles
    link(rel="stylesheet", type="text/css", href="/public/markitup/skins/markitup/style.css")
    link(rel="stylesheet", type="text/css", href="/public/markitup/sets/markdown/style.css")
    link(rel="stylesheet", type="text/css", href="/public/chosen/chosen.css")

block content
    script(type="text/javascript")

        $(document).ready(function() {
            $('#postbody').markItUp(mySettings);

            $('form').submit(function(event) {
                event.preventDefault();

                var data = $(this).serialize();
                $.post($(this).attr('action'), data)
                    .success(function(data) {
                        if (data.success)
                            window.location = '/posts' + data.path;
                        else
                        {
                            $('.err').html('<div class="alert-message error">' + data.message + '</div>')
                        }
                    });
            });

            $('#add-tag').click(function() {
                $.post('/admin/tags/' + $('#post-new-tags').val())
                    .success(function(data) {
                        if (data.success)
                        {
                            alert('Tag Added');
                            $('#post-tags').append($('<option>').text($('#post-new-tags').val()));
                            $('#post-new-tags').val('');
                            $('#post-tags').trigger("liszt:updated");
                        }
                    });
            });

            $('#post-tags').chosen({
                is_multiple: true
            });
        });

    p.err

    form(method="POST", action="/admin/posts/add", class="form-stacked")
        fieldset
            legend Create a Post
            div.clearfix
                label(for="post-title") Title:
                div.input
                    input.span12#post-title(type="text", name="post[title]")
            div.clearfix
                label(for="postbody") Body:
                div.input
                    textarea#postbody(name="post[body]")
            div.clearfix
                label(for="post-tags") Tags:
                div.input
                    select.span6#post-tags(name="post[tags]", multiple="multiple")
                        - each tag in tags
                            option!=tag.name
            div.clearfix
                label(for="post-new-tags") New Tag:
                div.input
                    input#post-new-tags(type="text", name="post[tags]")
                    &nbsp;
                    button.btn.primary#add-tag(type="button") Add Tag
        input(type="submit", value="Save", class="primary btn")
        &nbsp;
        button.btn(onclick="history.go(-1)") Cancel
