extends layout

block content
    h4 Admin Functions

    ul
        li: a(href="/admin/posts") List Posts
        li: a(href="/admin/posts/add") Add Post
        li: a(href="/admin/media") Manage Media

