extends ../layout

block body
    div.row
        div.span14
            h2.title: a.undecorated(href="/") Mike's Musings
            small Spreading positive vibes and optimism through efficient use of sarcasm and lowered expectations
    div.row
        div.span14
            hr.divider
    div.row
        div.span14
            block content
    div.row.footer
        div.span14
            small &copy; 2011 Michael Yoon, Powered by&nbsp;
                a(href="http://github.com/mikeyoon/LameBlog") Lame Blog
