extends ../layout

block body
    div.row
        div.span14
            h2.title: a.undecorated(href="/")!=siteName
            small!=siteTagline
    div.row
        div.span14
            hr.divider
    div.row
        div.span14
            block content
    div.row.footer
        div.span14
            small &copy; 2011 #{siteAuthor}, Powered by&nbsp;
                a(href="http://github.com/mikeyoon/LameBlog") Lame Blog
