!!! 5
html
    head

    link(rel="stylesheet", type="text/css", href="/public/highlight/styles/solarized_dark.css")

    script(type="text/javascript", src="/public/highlight/highlight.pack.js")

    script(type="text/javascript")
        hljs.initHighlightingOnLoad();

    body
        div!=body