
.comment-header {
    background-color: rgb(240, 240, 240);
    padding-left: 6px;
    height: 28px;
    margin-bottom: 12px;
}

.comment-header-content {
    padding-top: 5px;
}

.separator {
    margin-left: 2px;
    margin-right: 2px;
}

.comment-body {
    padding-left: 6px;
    margin-bottom: 20px;
}

#comment-message {
}

#comment-user {
    margin-right: 5px;
}