!!! 5
html
    head
        title Mike's Musings
        script(type="text/javascript", src="/public/scripts/jquery.min.js")
        //link(href="/public/styles/bootstrap.min.css", rel="stylesheet", type="text/css")
        link(href="/public/styles/main.css", rel="stylesheet", type="text/css")
        link(rel="stylesheet", href="/public/jquery-ui/css/ui-lightness/jquery-ui-1.8.16.custom.css", id="theme")
        link(rel="stylesheet", href="/public/jquery-fileupload/jquery.fileupload-ui.css")
        link(rel="stylesheet/less", href="/public/bootstrap/bootstrap.less")
        script(type="text/javascript", src="/public/scripts/less.js")
        script(type="text/javascript", src="/public/scripts/main.js")

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        block scripts
        block styles
        block metas

    body
        div#fb-root
        block body
            div.row
                div.span11
                    h2.title: a.undecorated(href="/") Mike's Musings
                    small Spreading positive vibes and optimism through efficient use of sarcasm and lowered expectations
                div.span3
            div.row
                div.span11
                    hr.divider
                div.span3
                    hr.side-divider
            div.row
                div.span11
                    block content
                div.span3
                    block sidebar
            div.row.footer
                div.span11
                    small &copy; 2011 Michael Yoon, Powered by&nbsp;
                        a(href="http://github.com/mikeyoon/LameBlog") Lame Blog
