!!! 5
html
    head
        title Example
        script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
        link(href="/public/styles/main.css", rel="stylesheet", type="text/css")
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    body
        header.top
            h3 Mike's Musings
        div!= body